body{
    height: 100vh; 
    width: 100vw; 
    background: rgb(13, 0, 255); 
    background: linear-gradient(351deg,
    rgb(0, 0, 0) 0%, 
    rgba(0, 0, 0, 0.367) 93%); 
}

:root {
    --cor-de-fundo: #d4d1d1;
    --verde: #ec1515;
    --vermelho: #000000;
    --branco: #050028;
    --botao-ativo: #8d1616;
    --botao-inativo: rgba(0, 0, 0, 0.5);
    --texto-fundo: rgba(0, 0, 0, 0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-fundo);
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.conteudo-principal span{
    color: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200;

}

.titulo-principal {
    color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.botao {
    background-color: var(--botao-inativo);
    color: var(--preto);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    color:var(--preto);
    width: 100%;
    border: 4px solid var(--botao-ativo);
    border: 2px solid var(--botao-ativo);
    border: 2px solid var(--botao-ativo);
    border-top: none;

}

.botao::first-child{
    border-radius: 40px 40px 0 0 ;
}

.botoes{
    display:block;
}

.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(var(--preto));
}

.abas-textos{
    background: #414242;
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo{
text-align: center;
font-size: 28px;
}

.aba-conteudo-titulo-secundario{
    color: var(--verde);
    text-transform: uppercase;
}

@media screen and (min-width:768px){
    .botoes{
        display: flex;
    }
}

.botao:first-child{
    border-radius: 40px 0 0 0 ;
}

.botao:last-child{
    border-radius: 0 40px 0 0 ;
}

